@font-face {
  font-family: 'DejaVu Sans Mono for Powerline';
  font-style: normal;
  font-weight: normal;
  src: url(fonts/DejaVuSansMono-Powerline.ttf) format('truetype');
}

@font-face {
  font-family: 'DejaVu Sans Mono for Powerline';
  font-style: bold;
  font-weight: normal;
  src: url(fonts/DejaVuSansMono-Bold-Powerline.ttf) format('truetype');
}
